//! **************************************************************************
// Written by: Map P.20131013 on Sun Feb 28 21:58:21 2021
//! **************************************************************************

SCHEMATIC START;
COMP "pause" LOCATE = SITE "M21" LEVEL 1;
COMP "reset" LOCATE = SITE "M22" LEVEL 1;
COMP "count_out<0>" LOCATE = SITE "V19" LEVEL 1;
COMP "count_out<1>" LOCATE = SITE "V18" LEVEL 1;
COMP "count_out<2>" LOCATE = SITE "Y19" LEVEL 1;
COMP "count_out<3>" LOCATE = SITE "AB14" LEVEL 1;
COMP "clk" LOCATE = SITE "Y11" LEVEL 1;
SCHEMATIC END;

